<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="flight.Properties.Settings.reserveeConnectionString"
            connectionString="Data Source=LAPTOP-K4BFQ39K;Initial Catalog=reservee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="flight.Properties.Settings.FlightReservationSystemConnectionString"
            connectionString="Data Source=LAPTOP-K4BFQ39K;Initial Catalog=FlightReservationSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>